.container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}



aside {
    display: flex;
    flex-direction: column;
    width: 25%;

    color: orange;
}

.purchase__info-title {
    font-weight: 600;
    font-size: 18px;
}
.purchase__info-detail {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;

    border-radius: .25rem;
}
.purchase__info-subtitle {
    font-size: 20px;
}
.purchase__info-price {
    font-size: 20px;
    font-weight: 600;
}

.container__itinerary {
    margin-top: 25px;
}
.itinerary__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.itinerary__title span {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}
.itinerary__info {
    padding: 15px 20px;
    background: #f3f3f3;

    border-radius: .25rem;
}
.itinerary__info-ida,
.itinerary__info-vuelta {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 0px;
}
.itinerary__info-vuelta {
    border-top: 1px dashed orange;
}
.itinerary__info-subtitle {
    font-size: 18px;
    flex: 1 1 0%;
    font-weight: 600;
}
.itinerary__info-CUA {
    font-size: 16px;
    flex: 1 1 0%;
    font-weight: 500;
}
.itinerary__info-date {
    font-size: 16px;
    flex: 1 1 0%;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

h3 {
    margin: 0;
    font-size: 25px;

}

.title-passenger {
    background: orange;
    color: white;
    padding: 10px 15px;

    border-radius: .25rem;
}

.container__passenger{
    margin: 10px;
    padding: 5px 0;
}
.container__passenger:not(:last-child){
    border-bottom: 1px dashed #d5d5d5;
}

.subtitle-passenger {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    margin-bottom: 10px;

    color: orange;
}
.subtitle-passenger span {
    font-size: 22px;
    font-weight: 500;
}


.form-group-double {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.form-group-double div{
    width: 100%;
}

.form-group {
	display: flex;
    flex-direction: column;
    align-items: start;
}
.form-group label {
	margin-bottom: 5px;
    font-weight: 500;
}

.form-input {
	width: 100%;
}

input,
textarea,
select {
	outline: 0;
	box-shadow: none;
    border: 1px solid #D5D5D5;
    border-radius: 0.25rem;
    padding: 11px;
    font-size: 15px;
}

input:focus {
	border-color: #B7B7B7;
}


.select-nacionality {
    width: 100%;
}


.container__btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__btn-submit button {
    padding: 15px 55px;
    border: none;
    border-radius: 0.25rem;
    background: orange;
    color: white;
    font-size: 18px;
    font-weight: 600;
}