h3 {
    margin: 0;
}

.submenu__flights {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;

    border-bottom: 1px solid #EAEAEA;
}

.submenu__flights-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    color: #555555;
}

.mini-container__dates {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.mini-container__more {
    display: flex;
    align-items: center;
}

.submenu__flights-item span {
    margin-left: 5px;
}

.submenu__flights-btn {
    display: flex;
    align-items: center;

    border: none;
    padding: 10px;
    border-radius: .25rem;
    font-size: 14px;
    background-color: #d5d5d5;
}

.submenu__flights-btn i {
    display: none;
}

@media(max-width: 992px){
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0 10px;
    }

    .submenu__flights {
        padding: 1rem;
        justify-content: space-between;
        background: #F2F2F2;
    }

    .submenu__flights-info{
        flex-direction: column;
        align-items: start;
    }

    .submenu__flights-btn {
        padding: 0;
        border-radius: none;
        font-size: 25px;
        background-color: inherit;
    }

    .submenu__flights-btn i {
        display: flex;
    }

    .submenu__flights-btn span {
        display: none;
    }

    .mini-container__cuas {
        font-size: 16px;
        font-weight: 600;
    }
    .mini-container__cuas i{
        display: none;
    }


    .item-more {
        display: flex;
        align-items: center;
    }
    .item-more span {
        font-size: 14px;
    }

    .submenu__flights-info,
    .mini-container__dates {
        gap: 1rem;
    }

    .submenu__flights-item span {
        margin-left: 0;
    }
}

  
  
  /* MAIN */  
  .calendar__week,
  .calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendar__week {
    grid-auto-rows: 100px;
    text-align: right;
  }
  
  .calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
  
  .calendar__day {
    padding: 16px;
  }
  
  /* COSMETIC STYLING */
  
  :root {
    --red: #ED5454;
  }
  
  .calendar {
    background-color: white;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
  }

  .calendar__title {
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
  }
  
  .calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calendar__day {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }
  
  .calendar__day:last-child {
    border-right: 0;
  }
